{% from 'macros/svgs.html' import sun, moon %}

{% macro nav_bar(email, theme) %}
<div class="header">
    <div class="nav--bar">
        <a class="nav--home" href="{{ url_for('pages.landing_page') }}">
            <img class="app--logo" src="{{ '../static/img/light_logo.svg' if session.get('theme') == 'light' else '../static/img/dark_logo.svg' }}" alt="Couple Ways - logo"><span class="app--name">Couple Ways</span>
        </a>
        <nav class="nav">
            {% if not email %}
                <a class="nav__link {{ 'nav__link--active' if request.path == '#' }}" href="#">Log in</a>
                <a class="nav__link {{ 'nav__link--active' if request.path == '#' }}" href="#">Register</a>               
            {% else %}
                <a class="nav__link {{ 'nav__link--active' if request.path == '#' }}" href="#">My Journeys</a>
                <a class="nav__link {{ 'nav__link--active' if request.path == '#' }}" href="#">Map Discovery</a>   
                <a class="nav__link {{ 'nav__link--active' if request.path == '#' }}" href="#">AI Travel Guide</a>
                <a class="nav__link" href="#">Log out</a>   
            {% endif %}
            <a class="nav__link" href="{{ url_for('pages.toggle_theme', current_page= request.path) }}">
                <span class="theme--selection">
                    {% if theme == "dark" %}
                        {{ sun("theme__icon") }}
                    {% else %}
                        {{ moon("theme__icon") }}
                    {% endif %}
                </span>
            </a>
        </nav>
    </div>
</div>
{% endmacro %}

{% macro footer() %}
<footer class="footer">
    <div class="footer__content">
        <section class="left">
            <a class="footer__item" href="#">Made by Matheus Singh Cardoso</a>
            <a class="footer__item" href="#">Check out my other projects</a>
        </section>
        <section class="right">
            <div class="footer__column">
                <a class="footer__item" href="#">Explore</a>
                <a class="footer__item" href="#">Plan your next adventure!</a>
            </div>
            <div class="footer__column">
                <a class="footer__item" href="#">How this was made</a>
                <a class="footer__item" href="#">Get in touch</a>
            </div>
        </section>
    </div>
</footer>    
{% endmacro %}