{% from 'macros/svgs.html' import sun, moon %}

{% macro nav_bar(email, theme) %}
<div class="header">
    <div class="nav--bar">
        <a class="nav--home" href="{{ url_for('pages.landing_page') }}">
            <img class="app--logo" src="../static/img/logo.svg" alt="Couple Ways - Logo"><span class="app--name">Couple Ways</span>
        </a>
        <nav class="nav">
            {% if not email %}
                <a class="nav__link {{ 'nav__link--active' if request.path == '#' }}" href="#">Log in</a>
                <a class="nav__link {{ 'nav__link--active' if request.path == '#' }}" href="#">Register</a>               
            {% else %}
                <a class="nav__link {{ 'nav__link--active' if request.path == '#' }}" href="#">My Journeys</a>
                <a class="nav__link {{ 'nav__link--active' if request.path == '#' }}" href="#">Map Discovery</a>   
                <a class="nav__link {{ 'nav__link--active' if request.path == '#' }}" href="#">AI Travel Guide</a>
                <a class="nav__link" href="#">Log out</a>   
            {% endif %}
            <a class="nav__link" href="#">
                <span class="theme--selection">
                    {% if theme == "dark" %}
                        {{ sun("theme__icon") }}
                    {% else %}
                        {{ moon("theme__icon") }}
                    {% endif %}
                </span>
            </a>
        </nav>
    </div>
</div>
{% endmacro %}