:root {
  --text-dark: #000;
  --text-light: #fbf2f2;
  --text-muted: #595959;

  --background-color: #fff;
  --accent-color: #8CBAE8;
  --button-accent: #acd4fc;
  --hover-color: #8CBAE8;
  --accent-color-2: #18538d;
  --tag-color: #e5e5e5;

  --border: 3px solid #000;
  --calendar-icon: invert(0);
}

:root.dark-mode {
  --text-dark: #fbf2f2;
  --text-light: #000;
  --text-muted: #595959;

  --background-color: #1c2023;
  --accent-color: #18538d;
  --button-accent: #3070af;
  --hover-color: #8CBAE8;
  --accent-color-2: #8CBAE8;
  --tag-colour: var(--accent-colour-2);
  --calendar-icon: invert(1);

  --border: 3px solid #fff;
}

.button {
  --background-color: #e2e8f0;
  --background-color-hover: #bdd1eb;
}

.form__field,
.nav__link {
  --border: 3px solid #8CBAE8;
}

html {
  /* Sets global font size on small devices */
  font-size: 16px;
}

/* When the screen width hits 960px, we increase the global font size to 14px. This changes
    the scale of all of our relative units (the rems), keeping everything in proportion */
@media screen and (max-width: 25em) {
  html {
    font-size: 11px;
  }
}

@media screen and (max-width: 37.5em) {
  html {
    font-size: 14px;
  }
}
    
@media screen and (min-width: 60em) {
  html {
    font-size: 16px;
  }
}

/* When the screen width hits 1200px, we once again increase the global font size, this time to 16px */
@media screen and (min-width: 75em) {
  html {
    font-size: 18px;
  }
}

body {
  /* Sets the shared font characteristics, so that that they can be inherited globally */
  display: flex;
  flex-direction: column;
  font-family: "Public Sans", sans-serif;
  color: var(--text-dark);
  line-height: 1.45;
  background-color: var(--background-color);
}

/* Button styles that we'll share across our site */
.button {
  /* In order to easily position our buttons, we're making them block level elements */
  display: block;

  /* Removes any outlines added when the button is in focus */
  outline: none;

  /* Setting the cursor to pointer indicates to a user that the button is a clickable element */
  cursor: pointer;

  /* Again, with buttons we have to be explicit about inheriting font properties */
  font-size: inherit;
  font-family: inherit;

  /* Slows the background colour change effect when we hover over the button, making
        it take 0.1s with an accelerating colour change */
  transition: background 0.1s ease-in;
}

/* Utility class to use on links within text. */
.link {
  text-decoration: none;
  color: var(--accent-colour);
  white-space: nowrap;
}

.link:hover {
  text-decoration: underline;
}

.header {
  padding: 0 2rem;
}

.nav--bar {
  display: flex;
  justify-content: space-between;
  max-width: 75rem;
  margin: 0 auto;
  padding: 0.35rem 0;
}

.nav--home {
  display: flex;
  position: relative;
  height: 4rem;
  color: inherit;
  text-decoration: none;
}

.app--name {
  position: absolute;
  transform: translate(5rem, 1.7rem);
  color: inherit; /* Set the text color */
  transition: color 0.2s ease-in-out; /* Add a smooth transition effect */
}

.app--name:hover {
  color: var(--hover-color); /* Set the text color */
}

.app--logo {
  max-width: 100%; /* Adjust as needed */
  height: auto; /* This ensures the aspect ratio is maintained */
}

.nav {
  display: flex;
  align-items: center; /* Align the nav__links vertically with the app--name */
}

.nav__link {
  margin-top: 1rem;
  text-decoration: none;
  color: inherit;
  transition: all 0.2s ease-in-out;
}

.nav__link:hover {
  color: var(--hover-color);
}

.nav__link:not(:first-of-type) {
  margin-left: 1.8rem;
}

.nav__link--active {
  font-weight: bold;
  color: var(--accent-color);
  transition: all 0.2s ease-in-out;
}

.nav__link--active:hover {
  filter: brightness(1.2);
  cursor: pointer;
}

.theme__icon {
  width: 1em;
  height: 1em;
  transition: color 0.3s ease-in-out; /* Add a smooth transition effect */
}

.theme__icon:hover {
  color: var(--hover-color); /* Set the text color */
}

@media screen and (max-width: 765px) {
  .nav--bar {
    flex-direction: column;
  }

  .nav__link:not(:first-of-type) {
    margin-left: 4.5rem;
  }

  .app--name {
    transform: translate(13rem, 1.7rem);
  }
}

@media screen and (max-width: 25em) {
  .nav__link:not(:first-of-type) {
    margin-left: 2.1rem;
  }
}

@media screen and (max-width: 21px) {
  .nav__link:not(:first-of-type) {
    margin-left: 1rem;
  }

  .app--name {
    transform: translate(8rem, 1.7rem);
  }
}

.main {
  flex: 1;
}

.footer {
  background-color: var(--accent-color);
  padding: 20px 0;
  margin: 50px 0 0 0;
  border-top: 2px solid var(--text-dark);
  color: var(--text-dark);
  font-size: 0.8rem;
}

.footer__content {
  max-width: 760px;
  margin: 0 auto;
  padding: 0 20px;
  display: flex;
  flex-direction: row;
}

.footer .left {
  flex-grow: 2;
  display: flex;
  flex-direction: column;
}

.footer .right {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
}

.footer__column {
  display: flex;
  flex-direction: column;
  margin-left: 50px;
}

.footer__item {
  margin-bottom: 5px;
  font-weight: bold;
  border: 0.5rem solid transparent;
  border-radius: 1rem;
  transition: all 0.2s ease-in-out;
  text-decoration: none;
  color: inherit;
}

.footer__item:hover {
  color: var(--accent-color-2);
  cursor: pointer;
}

.form__block {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 3rem;
  align-items: center;
}

.form__title {
  font-size: 1.6rem;
  margin: 1.6rem auto;
}

.form__container {
  padding: 2.5rem 1.5rem 1.5rem 1.5rem;
}

/* The following media queries allow for more padding inside the form as the window
   size increases */
@media screen and (min-width: 24.75em) {
  .form__container {
    padding-left: 2rem;
  }
}

@media screen and (min-width: 30em) {
  .form__container {
    padding-left: 2.5rem;
  }
}

.form__container--dates {
  display: flex;
  align-items: center;
}

.form__container--dates--arrow {
  margin-left: 1rem;
  margin-right: 1rem;
  font-weight: bold;
  font-size: 1.6rem;
}

.form__group {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.5rem;
}

.form__label {
  margin-bottom: 0.5rem;
}

.form__field {
  outline: none;
  border-radius: 1rem; /* Adjust the border-radius to control the roundness */
  border: 1px solid var(--text-dark); /* Outline color matches background */
  /* We have to be explicit about our text fields inheriting font properties */
  font-size: inherit;
  font-family: inherit;
  background-color: var(--background-color);

  padding: 0.5rem 0.5rem;
}

/* When the field is in focus, we change the border colour at the bottom to the accent colour */
.form__field:focus {
  border: 1px solid var(--accent-color); /* Outline color matches background */
}

.form__button--container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form__block {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 3rem;
  align-items: center;
}

/* Styles specific to the form buttons */
.button {
  padding: 0.75rem 3rem;
  background: var(--accent-color);
  color: var(--text-dark);
  border: 2px solid var(--accent-color); /* Outline color matches background */
  border-radius: 2rem; /* Adjust the border-radius to control the roundness */
  transition: all 0.2s ease-in-out;
  cursor: pointer; /* Add pointer cursor for better UX */
}

.button:hover {
  background: var(--button-accent);
}

.form__datepicker {
  color: var(--text-muted);
}

input[type="date"]::-webkit-calendar-picker-indicator {
  filter: var(--calendar-icon); /* Invert the colors to change the color of the icon */
}

.trips__link--container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 3rem;
  max-width: fit-content;
}

.trips__link--button {
  padding: 10px 20px; /* Adjust the padding to your preference */
  text-align: center;
  text-decoration: none;
  background-color: var(--accent-color); /* Set the background color */
  color: inherit; /* Set the text color */
  border: 2px solid var(--accent-color); /* Set the border color */
  border-radius: 2rem; /* Add some border-radius for rounded corners */
  transition: background-color 0.3s ease, color 0.3s ease; /* Add a smooth transition effect */
}

.trips__link--button:hover {
  background: var(--button-accent);
}
