{% extends 'layout.html' %}

{% block head_content %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/landing_page.css') }}">
{% endblock %}

{% block main_content %}
    <div class="banner">
        <img src="{{ url_for('static', filename='img/banner.jpg') }}" alt="Couple Ways - banner">
        <div class="banner-text">
            <h1>Couple Ways</h1>
            <h2>Your Personalized Trip Planning Companion - Plan, Organize, and Embark on Unforgettable Journeys.</h2>
            <a class="btn" href="{{ url_for('pages.register') }}">Try it now!</a>
        </div>
    </div>
{% endblock %}
